<% @pic = image_tag(@arrival[:line]+'.png') %>
<div class="container" align>
  <div class="row">
    <div class="col-xs-4">
      <% if @pic %>
          <%= @pic%>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= @arrival[:destination]%>
    </div>
    <div class="col-xs-4">
      <%=	 @arrival[:minutes] %>
    </div>
  </div>
</div>