<head>
  <title>Arrivals for Stiglmaierplatz</title>
  <meta http-equiv="refresh" content="10;url=/book">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<!--<div id="content" class="vcenter" style="display: none">
  <div class="row borderbelow">
      <div class="col-2 nopadding">
        Linie
      </div>
      <div class="col-3 nopadding" align="left">
        Ziel
      </div>
      <div class="col-2 nopadding" align="right">
        Abfahrt in Min.
      </div>
      <div class="col-auto">
      </div>
  </div>
</div>
<div id="content" class="vcenter" style="display: none">
  <% if @books != nil %>
      <% @books.each do |book| %>
          <div class="row">
            <div class="col-1 nopadding" align="right">
              <% begin %>
                  <% if book[:line].to_s.start_with?('U') %>
                      <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/produkt/U-Bahn.gif' %>
                  <% else
                       if book[:line].to_s.start_with?('S') %>
                          <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/produkt/S-Bahn.gif' %>
                      <% else
                           if book[:line].to_f >= 100 %>
                              <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/produkt/Bus.gif' %>
                          <% else
                               if book[:line].to_f >= 10 %>
                                  <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/produkt/Tram.gif' %>
                              <% else %>
                                  <%= image_tag('/line_images/unknown.png') %>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% rescue %>
                  <%= image_tag('/line_images/unknown.png') %>
              <% end %>
            </div>
            <div class="col-1 nopadding" align="left">
              <% begin %>
                  <% if book[:line].to_s.start_with?('U') %>
                      <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/linie/U-'+book[:line].to_s.split(//).last(book[:line].to_s.length-1).join+'.gif' %>
                  <% else
                       if book[:line].to_s.start_with?('S') %>
                          <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/linie/'+book[:line].to_s+'.gif' %>
                      <% else
                           if book[:line].to_f >= 100 %>
                              <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/linie/S-'+book[:line].to_s+'.gif' %>
                          <% else
                               if book[:line].to_f >= 10 %>
                                  <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/linie/T-'+book[:line].to_s+'.gif' %>
                              <% else %>
                                  <%= image_tag('/line_images/unknown.png') %>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% rescue %>
                  <%= image_tag('/line_images/unknown.png') %>
              <% end %>
            </div>
            <div class="col-3 nopadding" id="row" align="left">
              <%= book[:destination] %>
            </div>
            <div class="col-1 nopadding" id="row" align="right">
              <%= book[:minutes].to_s %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>-->

<div id="content" class="container-fluid">
  <table class="table table-responsive" id="table" cellspacing="0" cellpadding="0">
    <tr class="borderbelow">
      <th text-align="right">
        <%= Time.now.strftime('%H:%M:%S') %>
      </th>
      <th align="center">
        Linie
      </th>
      <th>
        Ziel
      </th>
      <th align="left">
        Abfahrt in Min.
      </th>
    </tr>
    <% if @books != nil %>
        <% @books.each do |book| %>
            <% @url = "#{Rails.public_path}/line_images/"+book[:line]+'.png' %>
            <tr>
              <% begin %>
                  <% if book[:line].to_s.start_with?('U') %>
                      <td id="row" align="right">
                        <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/produkt/U-Bahn.gif' %>
                      </td>
                      <td id="row">
                        <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/linie/U-'+book[:line].to_s.split(//).last(book[:line].to_s.length-1).join+'.gif' %>
                      </td>
                  <% else
                       if book[:line].to_s.start_with?('S') %>
                          <td id="row" align="right">
                            <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/produkt/S-Bahn.gif' %>
                          </td>
                          <td id="row">
                            <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/linie/'+book[:line].to_s+'.gif' %>
                          </td>
                      <% else
                           if book[:line].to_f >= 100 %>
                              <td id="row" align="right">
                                <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/produkt/Bus.gif' %>
                              </td>
                              <td id="row">
                                <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/linie/S-'+book[:line].to_s+'.gif' %>
                              </td>
                          <% else
                               if book[:line].to_f >= 10 %>
                                  <td id="row" align="right">
                                    <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/produkt/Tram.gif' %>
                                  </td>
                                  <td id="row">
                                    <%= image_tag 'http://www.mvg-live.de/MvgLive/images/size30/linie/T-'+book[:line].to_s+'.gif' %>
                                  </td>
                              <% else %>
                                  <td id="row" align="right">
                                    <%= image_tag('/line_images/unknown.png') %>
                                  </td>
                                  <td id="row">
                                    <%= image_tag('/line_images/unknown.png') %>
                                  </td>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% rescue %>
                  <td id="row" align="right">
                    <%= image_tag('/line_images/unknown.png') %>
                  </td>
              <% end %>
              <td id="row" valign="middle"><%= book[:destination] %></td>
              <td id="row" valign="left"><%= book[:minutes].to_s %></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>
<!--<div class="container" align="center" style="display: none">
  <% @books.each do |book| %>
      <% @arrival = book %>
      <%= render partial: 'arrival', locals: {arrival: @arrival} %>
  <% end %>
</div>-->
</body>

