/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

$font-stack:    Helvetica, sans-serif
$backgroundblue: #0001b1

body
  background-color: $backgroundblue

#table
  border: none
  border-collapse: collapse
  outline: none

#row
  font: 200% $font-stack
  color: #ffffff
  border: none
  outline: none
  align: center

.nopadding
  padding: 0.25% !important
  margin: 0 !important

.borderbelow
  top: 0px
  margin: 0px
  padding: 0px 2px 2px 3px
  border-width: 2px
  border-bottom: 2px white solid
  width: 100%
  font: 200% $font-stack
  color: #ffffff

.noborder
  border: none
  outline: none

.vcenter
  vertical-align: middle