<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% require 'rubygems'%>
    <% require 'mvg/live' %>
  </head>

  <body>
    <% (MVG::Live.fetch 'Stiglmaierplatz').each do |arrival|%>
      <%= arrival[:line]+"\t"+arrival[:destination]+"\t"+arrival[:minutes].to_s%>
      <br>
    <% end %>
  </body>
</html>
